<div class="w-50 col-8 offset-2">
  <%= form_with model: @vehicle, method: :post, data: { turbo_stream: false } do |f| %>

    <%= f.label :vehicle_model, class: 'form-label' %>
    <%= f.text_field :vehicle_model, class: 'form-control' %>

    <%= f.label :vehicle_number, class: 'form-label' %>
    <%= f.text_field :vehicle_number, class: 'form-control' %>

    <%= f.label :devise_id, class: 'form-label' %>
    <%= f.text_field :devise_id, class: 'form-control' %>

    <%= f.hidden_field :status, value: false %>

    <%= f.label :vehicle_type, class: 'form-label' %><br>
    <%= f.radio_button :vehicle_type, "car" %> Car
    <%= f.radio_button :vehicle_type, "bike"%> Bike
    <br>
    <div class="mt-2">
      <%= f.submit 'Create', class: 'btn btn-primary' %>
      <%= link_to "Back", vehicles_path, class: "btn btn-secondary"  %>
    </div>

  <% end %>
</div>